/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    /* Fix navigation bar to the top */
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

section {
    padding: 5rem 2rem;
    min-height: 100vh;
    /* Make each section take up the full viewport height */
    margin-top: 3rem;
    /* Offset for the fixed header */
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #e2e2e2;
}

#projects {
    background-color: #ccc;
}

#contact {
    background-color: #b2b2b2;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;
}